<h1>Shorten your url</h1>
<%= form_tag '/', method: :post do %>
  <p><%= text_field_tag :long_url, nil, required: true, placeholder: "Url" %></p>
  <p><%= submit_tag "Get Your Short URL"%></p>
<%end%>